@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); /* Using a url */

::-webkit-scrollbar {
  width: 0px;
}

:root {
  --lightPink: #f8c8dc;
  --darkPink: #ff69b4;
  --white: #ffffff;
  --grayBlak: #232222;
  --dangerRed: #e0115f;
  --green: #10821d;
}

.greenText {
  color: var(--green);
}
.redText {
  color: var(--dangerRed);
}
.pinkText {
  color: var(--darkPink);
}

.greenDiv {
  background-color: var(--green);
}
.redDiv {
  background-color: var(--dangerRed);
}
.pinkDiv {
  background-color: var(--darkPink);
}

.lightPink {
  background-color: var(--lightPink);
}

.tranBlack {
  background-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: var(--lightPink);
  counter-reset: my-srNum;
  color: var(--grayBlak);
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.profileBody {
  padding: 60px 20px 20px 20px;
  height: 100vh;
  margin: auto;
}

.mainItemList {
  color: var(--darkPink);
  border-bottom: 2px var(--white) solid;
  font-weight: bold;
  font-size: 21px;
  margin-top: 15px;
  padding: 5px 1px;
}

.subItems {
  font-weight: bold;
  margin: 2px 0px 5px 5px;
  padding: 7px 15px;
}

.imgIconMain {
  width: 144px;
  height: 144px;
  margin-bottom: 10px;
}

.iconLogo {
  font-size: 30px;
  color: var(--white);
  margin: 0px 12px;
}

.iconPng-bg {
  font-size: 90px;
  color: var(--dangerRed);
  padding: 15px;
  margin-top: 10vh;
}

.iconLeft {
  font-size: 25px;
  color: var(--white);
  margin: 0px 5px 0px 12px;
}

.headerIcon {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 24px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
}

.arrow-left {
  margin-right: 15px;
  padding: 5px;
  font-size: 26px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
}

.headerTopFixed {
  margin: auto;
  height: 55px;
  padding: 10px 20px;
  background-color: var(--darkPink);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.headerTitleName {
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
  text-transform: capitalize;
}

.selectTitleName {
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--darkPink);
  border: 0;
  text-transform: capitalize;
}

.editBtn {
  font-size: 11px;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  position: absolute;
  top: 18px;
  padding: 2px 6px;
  background-color: var(--green);
  border-radius: 2px;
  color: var(--white);
  cursor: pointer;
}

.headerDashBoard {
  margin: auto;
  text-align: center;
  background-color: var(--darkPink);
  position: fixed;
  padding-bottom: 25px;
  top: 55px;
  left: 0;
  width: 100%;
}

.dashBoardContent {
  color: var(--darkPink);
  background-color: var(--white);
  justify-content: space-around;
  width: calc(100% - 60px);
  margin: auto;
  border-radius: 9px;
  text-align: center;
  padding: 8px 10px;
}

.dashBoardTxt {
  font-size: 11px;
  color: var(--grayBlak);
  font-weight: bold;
}

.dashBoardNum {
  font-size: 18px;
  font-weight: bold;
}

.rediusCenter {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  background-color: var(--lightPink);
  color: var(--lightPink);
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.partyListBody {
  margin-top: 183px;
  margin-bottom: 70px;
}

.partyList {
  margin-bottom: -1px;
  padding: 8px 20px;
  border: 1px solid var(--white);
  border-left: 0;
  border-right: 0;
  justify-content: space-between;
  cursor: pointer;
}

.partyCircle {
  width: 40px;
  height: 40px;
  background-color: var(--darkPink);
  border-radius: 50%;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  margin-right: 12px;
}

.partyCircle::before {
  counter-increment: my-srNum 1;
  content: "" counter(my-srNum) "";
}

.partyName {
  font-size: 18px;
  color: var(--grayBlak);
  font-weight: bold;
  text-transform: capitalize;
}

.agoText {
  line-height: 0.2;
  font-size: 14px;
  color: var(--darkPink);
}

.partyDetailNum {
  font-size: 16px;
  padding-right: 15px;
  font-weight: bold;
  width: 90px;
  text-align: right;
}

.emptyListMsg {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: var(--darkPink);
}

.dateTime {
  color: var(--green);
  font-size: 12px;
  font-weight: bold;
}

.amountDetails {
  color: var(--grayBlak);
  font-size: 14px;
  font-weight: bold;
}

.formBody {
  margin: auto;
  padding: 10px 30px;
  padding-top: 90px;
  margin-bottom: 70px;
  max-width: 500px;
}

.loginFormBody {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.input-container i {
  font-size: 23px;
  padding: 10px;
  background: var(--darkPink);
  color: var(--white);
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 2px solid var(--white);
  color: var(--darkPink);
  font-weight: bold;
}

.input-field:focus {
  border: 2px solid var(--darkPink);
  color: var(--darkPink);
  font-weight: bold;
}

.input-search {
  padding: 9px 15px;
  margin-left: 8px;
  outline: none;
  border: 2px solid var(--darkPink);
  border-radius: 5px;
  font-weight: bold;
}

.input-search:focus {
  border: 2px solid var(--grayBlak);
}

.khataListMain {
  margin: 20px 10px;
  padding: 5px 0px;
  border-bottom: 1px var(--darkPink) dotted;
}

.khataListMain label {
  font-size: 18px;
  text-transform: capitalize;
}

.khataListMain label:hover {
  color: var(--darkPink);
  cursor: pointer;
}

.khataListMain i {
  font-size: 22px;
  color: var(--darkPink);
  padding-right: 10px;
}

.newKhataAdd {
  background-color: var(--white);
  padding: 10px 0px;
}

.newKhataAdd:hover {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.input-newKhata {
  padding: 6px 14px;
  width: 215px;
  margin: 5px 0px;
  font-size: 15px;
  outline: none;
  border: 2px solid var(--darkPink);
}

.saveBtn {
  color: var(--white);
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-transform: uppercase;
}

.formAlertMsg {
  text-align: center;
  margin-top: -50px;
  color: var(--dangerRed);
  font-weight: bold;
  font-size: 16px;
}

.listIcon {
  padding: 0px 8px;
  color: var(--darkPink);
}

.bottomRightFixedBtn {
  background-color: var(--darkPink);
  border: 2px solid var(--dangerRed);
  color: var(--white);
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
.bottomRightFixedBtn:hover {
  border: 2px solid var(--white);
}

.bottomDIV {
  justify-content: space-around;
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 30px;
}

.topDownDIV {
  padding-bottom: 8px;
  background-color: var(--lightPink);
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 1;
}

.topDownItems {
  max-width: 380px;
  margin-left: calc(50% - 190px);
}

.deleteHint {
  width: calc(100% - 115px);
  font-size: 14px;
  color: var(--dangerRed);
}

.normalBtn {
  color: var(--white);
  padding: 9px 20px;
  width: 180px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.normalBtnMin {
  color: var(--white);
  padding: 9px 14px;
  margin: 0px 8px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.ButtonMin {
  color: var(--white);
  padding: 3px 8px;
  margin: 0px 4px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.ButtonMinAdd {
  background-color: var(--darkPink);
  color: var(--white);
  padding: 9px 12px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Modal Content */
.modal-bottom {
  background-color: var(--white);
  max-height: 75vh;
  padding: 10px 30px;
  width: calc(100% - 40px);
  margin-left: 20px;
  position: absolute; /* Stay in place */
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal-Msg {
  align-content: center;
  margin: auto;
  padding: 2px;
  width: 400px;
  height: 240px;
  margin-top: calc(50vh - 150px);
}

.modal-Msg i {
  font-size: 90px;
  margin: 5px 15px;
}

.modal-Msg label {
  color: var(--grayBlak);
  font-size: 25px;
  font-weight: bold;
  padding: 5px 10px;
}

.modal-Msg p {
  color: var(--darkPink);
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
}

.modal-Msg h2 {
  color: var(--darkPink);
  text-shadow: 2px 2px var(--grayBlak);
}

.userIconMax {
  font-size: 65px;
  padding: 5px;
  color: var(--darkPink);
}

.userName {
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
  padding: 3px 9px;
  border: 1px var(--darkPink) solid;
  border-radius: 5px;
  color: var(--darkPink);
}

.userTitle {
  margin: 20px 0px 10px 0px;
  font-size: 18 px;
  font-weight: bold;
  color: var(--darkPink);
}
